<header class="h-[190px] bg-black flex items-center justify-center gap-10 text-white text-2xl mb-5">
    <img class="h-full py-5" src="https://madi-barbearia.vercel.app/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fmadi-logo.c0d80d76.jpeg&w=256&q=75" alt="">
    <div>
        <ul class="w-[500px] flex justify-evenly items-center">
            <li>Endereço</li>
            <li>Serviços</li>
            <button class="bg-[#f0a629] py-2 px-4 rounded-xl">Agendar</button>
        </ul>
    </div>
</header>