<div
  id="catalog-container"
  class="w-[300px] sm:w-[500px] mx-auto p-5 bg-black text-[#F0A629] rounded-xl"
>
  <h2 class="text-5xl font-bold uppercase text-center my-5">Nossos cortes</h2>
  <div class="mx-auto rounded-xl flex flex-col gap-5">
    @for (haircut of haircutOptions; track haircut.id) {
      <div
        class="w-[500px] grid grid-cols-[40%_60%] items-center justify-items-center text-4xl"
      >
        <img
          class="rounded-l-xl"
          src="{{ haircut.image }}"
          alt="{{ haircut.name }}"
        />
        <div>
          <h3>{{ haircut.name }}</h3>
        </div>
      </div>
    }
  </div>
</div>
